.container ol li{
    line-height: 1.6;
    font-size: 1.4em;
    color: #333;
}

.start{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}


.start .btn{
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    background-color: #474746;
}

.start .btn:hover{
    background-color: #403d3a;
    color: white;
}

#form{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 3em;
}

#form .userid{
    padding: .7em 2em;
    width: 50%;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .container ol li {
        font-size: 0.9em;
    }
    #form {
        width: 80%;
    }
    #form .userid {
        width: 80%;
    }
}