

.flex-center{
    display: flex;
    justify-content: center;  
    width: 70%;
    flex-direction: column;
    border: 1px solid #403d3a;
    padding: 3em 4em;
    gap: 1em;
}

.container .flex{
    display: flex;
    justify-content: space-between;
    
}

.container .flex span {
    font-size: 1.4em;
    color: #333;
}

.container .flex span.achive {
    font-weight: bold;
    color: #ff2a66;
    color: #033e20;
}

table {
    width: 100%;
    margin-bottom: 35px;
    padding: 10px;
    /* border-collapse: collapse; */
}
.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1em;
    padding: 10px;
}

.table-header {
    color: #cecece;
    font-size: 1.1em;
    text-align: center;
    background: #333;
    padding: 10px 10px;
}

.table-body {
    font-size: 1.1em;
    text-align: center;
    /* color: #cecece; */
    background: #d8d8d8;
    padding: 18px 0;
}

.table-header > tr > td{
    border: 1px solid #333;   
}